<section class="details my-5 py-4">
  <div class="row">
    <div class="img col-md-5 col-sm-12">
      <img class="w-100 col-md-10 col-sm-10" [src]="productDetail?.image != undefined ? productDetail?.image:'../../../../assets/defult-image.webp'" alt="{{productDetail?.image}}">
    </div>
    <div class="col-md-7 col-sm-12  py-4">
      <ul class="list-unstyle py-5">
        <li><strong>Title :</strong><span>{{productDetail?.title}}</span></li>
        <li><strong>Categoty :</strong><span>{{productDetail?.category}}</span></li>
        <li><strong>Description :</strong><span>{{productDetail?.description}}</span></li>
        <li><strong>Rate :</strong><span>{{productDetail?.rating?.rate}}</span></li>
        <li><strong>Count :</strong><span>{{productDetail?.rating?.count}}</span></li>
        <li><strong>Price :</strong><span>{{productDetail?.price | currency}}</span></li>
      </ul>
    </div>
  </div>
</section>

<section *ngIf="loading">
  <app-loading></app-loading>
</section>
