/* You can add global styles to this file, and also import other style files */
@import 'app/shared/Components/loading/loading.component.scss';
body{
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
  background: #f5f5f5;
}
*{
  box-sizing: border-box;
  font-family: inherit;
  transition: .3s all ;
}
.mat-card-header-text {
  margin: 0 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba($color: #f5f5f5, $alpha: .5);
}
.mat-raised-button{
  .mat-select-arrow-wrapper{
    display: none !important;
  }
  .mat-select-value{
    text-overflow: initial !important;
  }
  .mat-select-min-line{
    visibility: hidden;
  }
  .mat-select-trigger{
    height: 100% !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
